/* Acá va tu código */
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

div{
  background-image: url('https://i.pinimg.com/originals/a9/e0/a4/a9e0a41ee71d3194a131bdacc024567d.jpg');
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

/*first page*/

.first {
  height: 580px;
  margin: 2em;
  padding: 3px;
  text-align: center;
  border-radius:20px;
}

.first h1 {
  font-size: 4em;
  font-family: 'Permanent Marker', cursive;
  border-radius: 20px;
  padding:20px;
  background:white;
  margin: 50px;
}

.first p{
    font-size: 20px;
    font-family:'Quicksand', sans-serif;
    color: black;
    padding:20px;
    background: white;
    border-radius: 20px;
    margin:40px;
    text-align: left;
  }

.start {
  position: relative;
  padding: 20px 40px;
  border-radius: 20px;
  font-family: 'Quicksand', sans-serif;
  font-size: 22px;
  top: 20px; 
  color: white;
  border: 5px solid white;
  background-color: rgba(196, 180, 180, 0.774);
  font-family:'Quicksand', sans-serif; 
  transition: all 0.5s;
}

.start span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.start span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.start:hover span {
  padding-right: 25px;
}

.start:hover span:after {
  opacity: 1;
  right: 0;
}

/*second page*/
.second {
  height: 1370px;
  margin: 2em;
  padding: 3px;
  text-align: center;
  border-radius: 20px;
}

.second p {
    font-size: 20px;
    font-family:'Quicksand', sans-serif;
    color: black;
    padding:20px;
    background: white;
    border-radius: 20px;
    margin:40px;
    text-align: left;
}

#numbershift {
    font-size: 20px;
    font-family:'Quicksand', sans-serif;
    color: black;
    padding:20px 30px;
    background: white;
    border-radius: 20px;
    margin:40px;
    text-align: left;
}

.profesor {
  position: relative;
  padding: 20px 40px;
  border-radius: 20px;
  font-family: 'Quicksand', sans-serif;
  font-size: 22px;
  top: 20px; 
  color: white;
  border: 5px solid white;
  background-color: rgba(196, 180, 180, 0.774);
  font-family:'Quicksand', sans-serif; 
  transition: all 0.5s;
}

.profesor span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.profesor span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.profesor:hover span {
  padding-right: 25px;
}

.profesor:hover span:after {
  opacity: 1;
  right: 0;
}

#cipherbox {
    border-radius: 20px;
    padding: 18px; 
    width: 300px;
    height: 15px;
    font-size: 20px;
    margin: 1em;
}

#shifter {
    border-radius: 20px;
    padding: 18px; 
    width: 300px;
    height: 15px;
    font-size: 20px;
    margin: 1em;
}

.slider {
    -webkit-appearance: none;
    width: 300px;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin:40px;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(22, 91, 221);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(110, 156, 167);
    cursor: pointer;
  }

  #normal {
    padding: 18px;
    margin: 2em;
    width: 90%;
    height: 150px;
    font-size: 20px;
  }

  #ciphertxt {
    padding: 18px;
    margin: 2em;
    width: 90%;
    height: 150px;
    font-size: 20px;
  }


/*third page*/
.third {
  height: 1800px;
  margin: 2em;
  padding: 3px;
  text-align: center;
  border-radius:20px;
}

.third p {
    font-size: 20px;
    font-family:'Quicksand', sans-serif;
    color: black;
    padding:20px;
    background: white;
    border-radius: 20px;
    margin:40px;
    text-align: left;
}

.board {
  background-image: url('https://img.freepik.com/foto-gratuito/lavagna-vuota_53876-31358.jpg?size=626&ext=jpg');
  border: 12px solid  rgb(63, 23, 23) ;
  text-align: center;
  margin: 40px 180px;
}

#numbershift1 {
    font-size: 18px;
    font-family:'Quicksand', sans-serif;
    color: black;
    padding:20px;
    background: white;
    border-radius: 20px;
    margin:40px;
    text-align: left;
}

.again {
    position: relative;
    padding: 20px 40px;
    border-radius: 20px;
    font-family: 'Quicksand', sans-serif;
    font-size: 22px;
    top: 20px; 
    color: white;
    border: 5px solid white;
    background-color: rgba(196, 180, 180, 0.774);
    font-family:'Quicksand', sans-serif; 
    transition: all 0.5s;
}

.again span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.again span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.again:hover span {
  padding-right: 25px;
}

.again:hover span:after {
  opacity: 1;
  right: 0;
}


.third h2 {
    font-size: 4em;
    font-family: 'Permanent Marker', cursive;
    color: white;
    padding:20px;
    margin: 20px;
}

.third h3 {
    font-size: 4em;
    font-family: 'Permanent Marker', cursive;
    padding:20px;
    color: white;
    margin: 20px;
}

.slider31 {
    -webkit-appearance: none;
    width: 300px;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin:40px;
  }
  
  .slider31::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(22, 91, 221);
    cursor: pointer;
  }
  
  .slider31::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(110, 156, 167);
    cursor: pointer;
  }

  #cifradotxt {
    padding: 18px;
    margin: 2em;
    width: 90%;
    height: 150px;
    font-size: 20px;
  }

  #answerciphertxt {
    padding: 18px;
    margin: 2em;
    width: 90%;
    height: 150px;
    font-size: 20px;
  }